body {
    width: 100%;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .jogo {
    position: relative;
    width: 1025px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .jogo img {
    width: 400px;
    height: 466px;
    margin: 50px;
  }
  
  .jogo button {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    margin-top: 78px;
    margin-bottom: 200px;
    
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  
  .jogo h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    align-items: center;
    text-align: center;
  }
  
  .letras {
    width: 700px;
    margin-top: 70px;
  }
  
  .letras button {
    width: 40px;
    height: 40px;
    margin: 6px;
    
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
  
    color: #39739D;
  }
  
  .letras button:disabled{
    background: #798A9F;
  }
  
  .letraSelecionada {
    background: #9FAAB5;
    color: #798A9F;
  }
  
  .chute {
    display: flex;
    width: 700px;
    margin-top: 40px;
  }
  
  .chute p {
    display: block;
    margin: 12px;
    margin-top: 20px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
  
  .chute input {
    width: 353px;
    height: 40px;
    margin-top: 13px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  
  .chute button {
    width: 100px;
    height: 40px;
    margin: 13px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #3C76A1;
  }
  
  .palavraErrada {
    color: #FF0000;
  }
  
  .palavraCerta {
    color: #27AE60;
  }